.light-theme {
    color : black;
    background-color : white;
}

.dark-theme {
    color: white;
    background-color: black;
}

button {
    cursor: pointer;
    padding: .5%;
    margin: .5%;
    width: 99%;
}

.accordion {
    cursor: pointer;
}