{% load static %}
{% load staticfiles %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style rel="stylesheet" type="text/css">
        * {
            transition: 1s;
        }
        
        .light-theme {
            color : black;
            background-color : white;
        }

        .dark-theme {
            color: white;
            background-color: black;
        }

        button {
            cursor: pointer;
            padding: .5%;
            margin: .5%;
            width: 99%;
        }

        .accordion {
            transition: .4s;
        }

        .panel {
            padding: .8%;
            display: none;
            overflow: none;
        }

        .active {
            display: inline;
        }
    </style>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery.google.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.js' %}"></script>

    <title>landingpage</title>
  </head>
  <body class="light-theme">
    <h1 style="text-align: center">Welcome!</h1>
    <button id="theme">Click me to change theme!</button>
    
    <hr>
    
    <button class='accordion'>ini aktivitas saya</button>
    <div class='panel'>
        <ul>
            <li>mengerjakan story 8 pepew</li>
            <li>cari ide buat tp 2 sda</li>
            <li>persiapan bidding</li>
        </ul>
    </div>

    <button class='accordion'>ini prestasi saya</button>
    <div class='panel'>
        <ul>
            <li>berhasil mengerjakan story 1 sampai 4 pepew</li>
            <li>minum panadol ga pake air</li>
            <li>jilat sikut sendiri</li>
        </ul>
    </div>

    <button class='accordion'>ini pengalaman saya</button>
    <div class='panel'>
        <ul>
            <li>staff keilmuan bem</li>
            <li>wakil pj evote pemira ui</li>
            <li>dan lain-lain</li>
        </ul>
    </div>
  </body>
</html>